################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/CppProperties.json
/Debug/LED_Matrix.tlog
/Debug
/x64/Debug
